body {
    overflow-x: hidden;
}

.projects{
    
    background-color: var(--base-color-gray-200);
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

     @media(max-width:1080px){
        height: 100%;

    }

   


}

.header-projects{
    margin-top: 72px;
    width: 90%;
    max-width: 1040px;
    text-align: center;

    p{
     margin-bottom: 8px;   
     color: var(--primary-color-red);
    }

}
.grid-projects{
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    flex-wrap: wrap;

    @media(max-height:800px){
        margin-bottom: 55px;
    }

    @media(max-width:1080px){
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 100px;
    }

    @media(max-width:830px){
        height: 100%;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    
}

.project-card{
    width: 330px;
    height: 280px;
    background-color: var(--base-color-gray-300);
    border-radius: 12px;

    img{
        width: 306px;
        height: 156px;
        border-radius: 8px;
    }

    .img-card{
        padding-top: 12px;
        padding-left: 12px;
    }

    .text-card{
        margin-top: 20px;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px
        ;
    }
}

.project-card:hover{
    outline: 0.1px solid var(--base-color-gray-400);

}