.services {
  height: 480px;
  width: 100vw;
  background-color: var(--base-color-gray100);
  overflow: hidden;
  display: flex;
  flex-direction: column;

     @media(max-width:1080px){
        height: 800px;
    }



  .header-projects {
    margin-inline: auto;
  }

  .grid-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: auto;
    gap: 24px;
    margin-top: 56px;
   

     @media(max-width:1080px){
        grid-template-columns: 1fr;
        align-content: center;
    }

  }

  .services-card {
    width: 280px;
    height: 155px;
    border: 2px solid var(--base-color-gray-200);
    border-radius: 12px;

  }

  .services-img{
    margin-top: 20px;
    margin-bottom: 27.5px;
    margin-left: 20px;
    
  }

  .services-txt{
    margin-left: 20px;
    h4{
        margin-bottom:8px ;
    }
  }
}
